
.search-row {
  overflow: hidden;
  color: #222;
  word-wrap: break-word;
  font: 14px/16px Helvetica,Arial,sans-serif;
  cursor: pointer;
}

.search-row_selected {
  background: #e7fadb;
}


.search-row__left {
  float: left;
  width: 100px;
}
.search-row__right {
  margin-left: 100px;
}

