.range-input {

}

.range-input__from-label {
  display: inline-block;
  text-align: center;
  width: 25px;
}

.range-input__from-input {
  display: inline-block;
  width: 25%;
}

.range-input__to-label {
  display: inline-block;
  text-align: center;
  width: 25px;
}

.range-input__to-input {
  display: inline-block;
  width: 25%;
}